<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAGfn60-mKGTNfAgFgzqwcsbRa-NMYijY</string>
	<key>GCM_SENDER_ID</key>
	<string>1019022292458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstmobileapp</string>
	<key>PROJECT_ID</key>
	<string>mengajarfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mengajarfirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019022292458:ios:44a8cdac15feb8db5eae93</string>
	<key>DATABASE_URL</key>
	<string>https://mengajarfirebase-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>